@import url(https://db.onlinewebfonts.com/c/84ed805b799a7034568767668b7c9316?family=Yasashii+W01+Bold);
@import url(https://db.onlinewebfonts.com/c/5a9cfd32800f79b8e29c3bd25042d5a8?family=F36+days+ago+Thick+BRK+V1);



@font-face {
  font-family: "Yasashii W01 Bold";
  src: url("https://db.onlinewebfonts.com/t/84ed805b799a7034568767668b7c9316.eot");
  src: url("https://db.onlinewebfonts.com/t/84ed805b799a7034568767668b7c9316.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/84ed805b799a7034568767668b7c9316.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/84ed805b799a7034568767668b7c9316.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/84ed805b799a7034568767668b7c9316.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/84ed805b799a7034568767668b7c9316.svg#Yasashii W01 Bold")format("svg");
}

@font-face {
  font-family: "F36 days ago Thick BRK V1";
  src: url("https://db.onlinewebfonts.com/t/5a9cfd32800f79b8e29c3bd25042d5a8.eot");
  src: url("https://db.onlinewebfonts.com/t/5a9cfd32800f79b8e29c3bd25042d5a8.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5a9cfd32800f79b8e29c3bd25042d5a8.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5a9cfd32800f79b8e29c3bd25042d5a8.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5a9cfd32800f79b8e29c3bd25042d5a8.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5a9cfd32800f79b8e29c3bd25042d5a8.svg#F36 days ago Thick BRK V1")format("svg");
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  /* background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  /* background-position: center;
  background-repeat: repeat;
  background-size: cover; */
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contenedor::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  height: 20%;
}

.leftHeader {
  display: flex;
  align-self: center;
  justify-content: left;
  height: 100%;
  width: 50%;
}

.profilePic {
  display: flex;
  border-bottom-right-radius: 100%;  
  height: 100%;
  width:  25%;
  justify-content: center;
  align-items: center;
  background-color: #348888;
  font-family: "Yasashii W01 Bold";
  /* font-family: "F36 days ago Thick BRK V1"; */
  font-size: xx-large;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.rightHeader {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
}

.imgMenu {
  display: flex;
  height: 30%;
  width: 20%;
  background-image: url(https://w7.pngwing.com/pngs/626/110/png-transparent-black-logo-computer-icons-hamburger-button-menu-new-menu-angle-text-rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -10%;
  transition: 2s;
}

.imgMenu:hover {
  transform: scale(1.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1em 0;
}

.Title {
  display: flex;
  height: 20%;
  width: 55%;
  /* background-color: #035AA6; */
  font-size: 300%;
  justify-content: center;
  align-items: center;
  color: black;
  text-align:center;
  margin-top: 5%;
  border-bottom: 2px solid #348888;
  /* border-radius: 20px; */
  font-family: "F36 days ago Thick BRK V1";
  /* font-family: "Yasashii W01 Bold"; */
  /* box-shadow: 1px 1px 100px #89B3D9; */
  /* -webkit-text-stroke-width: 0.3px; */
  /* -webkit-text-stroke-color: #FA7F08; */
}

.subtitles {
  display: flex;
  height: 15%;
  width: 55%;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40%;
  margin: 5%;
  background-color: black;
  color: #F2F2F2;
  border: 2px solid #348888;
  border-radius: 5px;
  box-shadow: 100px 100px 800px white;
  font-family: "Yasashii W01 Bold";
  font-size: 115%;
  /* font-family: "F36 days ago Thick BRK V1"; */
  transition: 1s;
}

.btn:hover {
  background-color: white;
  border: 2px solid #348888;
  color: #348888;
  width: 20%;
  height: 40%;
  margin-top: 10%;
  transition: 1s;
}

.Studies {
  display: flex;
  border: 2px solid #348888;
  border-radius: 20px;
  height: 80%;
  width: 90%;
}